---
import Page from "@layouts/page";
---

<Page title="Contact me">
  <h1>Referencias Bibliograficas</h1>
  <p>
    <strong
      >Pressman, R. (2014). Ingeniería del Software: Un enfoque práctico. Mc
      Graw Hill.</strong
    > R. http://cotana.informatica.edu.bo/downloads/ld-Ingenieria.de.software.enfoque.practico.7ed.Pressman.PDF
  </p>
  <p>
    <strong
      >Sommerville, I. (2011). Ingeniería de software. Addison Wesley.</strong
    > R. https://www.academia.edu/25063155/Ingenieria_de_Software_Somerville
  </p>
  <p>
    <strong
      >Cockburn, A. (2002). Agile Software Development. Addison-Wesley.</strong
    > R. https://library.uoh.edu.iq/admin/ebooks/46287-cockburn---agile-software-development-3b.pdf
  </p>
  <p>
    <strong>Las metodologías ágiles más utilizadas y sus ventajas.</strong> R. https://www.iebschool.com/blog/que-son-metodologias-agiles-agile-scrum/
  </p>
  <p>
    <strong>
      Los 9 mejores modelos de desarrollo de software para elegir: fases y
      aplicaciones.</strong
    >
  </p> R. https://cynoteck.com/es/blog-post/top-software-development-models-to-choose-from/
</Page>
