<footer class="footer footer-center p-4">
  <div>
    <p class="text-xs text-base-content/70">
      &copy; {new Date().getFullYear()} – Desarrollado por
      <a
        class="link"
        href="https://github.com/saadeghi/daisy-blog"
        target="_blank">
        <strong>Carlos Fajardo</strong>
      </a>
      - Utilizando la tecnologia de
      <a class="link" href="https://astro.build/" target="_blank"
        ><strong> Astro</strong>
      </a>
    </p>
  </div>
</footer>
